aside.cabinet__aside(role="complementary")
    a.cabinet__aside-link._active(href="#" role="link")
        span.cabinet__aside-icon
            +svg_sprite('cabinet-profile', 30, 30)
        | Личные данные
    a.cabinet__aside-link(href="#" role="link")
        span.cabinet__aside-icon
            +svg_sprite('cabinet-orders', 22, 28)
        | Мои заказы
    a.cabinet__aside-link(href="#" role="link")
        span.cabinet__aside-icon
            +svg_sprite('cabinet-statuses', 30, 26)
        | Статус сервиса