section.section.footer-maps(class=footer_maps_classnames)
    button.footer-maps__button.heading-font._active(type="button" role="button" data-footer-map-tab="1") Наш офис
    button.footer-maps__button.heading-font(type="button" role="button" data-footer-map-tab="2") Сервисные центры
    .footer-maps__items
        .footer-maps__item._active(data-footer-map="1")
            script(type="text/javascript" charset="utf-8" async src="https://api-maps.yandex.ru/services/constructor/1.0/js/?um=constructor%3A93d474d0e104573f5a331a1f482ab8bbaf3695b7d2e7573d965526defb62d965&amp;width=100%25&amp;height=720&amp;lang=ru_RU&amp;scroll=false")
        .footer-maps__item(data-footer-map="2")
            script(type="text/javascript" charset="utf-8" async src="https://api-maps.yandex.ru/services/constructor/1.0/js/?um=constructor%3Ad69a8fdb37f9fcbae587aa7d7289d157443c3bcd4cd48b69300cc41cba7f514e&amp;width=100%25&amp;height=720&amp;lang=ru_RU&amp;scroll=false")