section.section(class=like_classnames)
    .container
        .section__header
            h2.section__h2.section__header-h2.heading-font(role="heading")=like_title
            .section__header-controls.carousel__controls
                button.carousel__navigation._prev._blue(type="button" role="button" data-like-prev)
                    +svg_sprite('carousel-nav', 23, 15)
                button.carousel__navigation._next._blue(type="button" role="button" data-like-next)
                    +svg_sprite('carousel-nav', 23, 15)

        .like__swiper.swiper(data-auto-width-swiper data-prev="[data-like-prev]" data-next="[data-like-next]")
            .swiper-wrapper
                .swiper-slide.like__slide
                    +product('product', 'Эхолот ПРАКТИК 6S + 2 подарка')
                .swiper-slide.like__slide
                    +product('product', 'Эхолот ПРАКТИК 6S + 2 подарка')
                .swiper-slide.like__slide
                    +product('product', 'Эхолот ПРАКТИК 6S + 2 подарка')
                .swiper-slide.like__slide
                    +product('product', 'Эхолот ПРАКТИК 6S + 2 подарка')
                .swiper-slide.like__slide
                    +product('product', 'Эхолот ПРАКТИК 6S + 2 подарка')
                .swiper-slide.like__slide
                    +product('product', 'Эхолот ПРАКТИК 6S + 2 подарка')
                .swiper-slide.like__slide
                    +product('product', 'Эхолот ПРАКТИК 6S + 2 подарка')