.modal(id="modal-callback")
    button.modal__close(type="button" data-fancybox-close)
        svg(width="66" height="66")
            use(xlink:href="img/sprite.svg#modal-close")
    .modal__content
        p.h1.modal__title.heading-font Заполните данные
        p.modal__subtitle Заполните свои данные, мы свяжемся с вами в течение 15 минут
        form.form(action="#" method="post" role="form")
            fieldset.form__fieldset
                label.form__label(for="callback-name") Ваше имя*
                input.form__input(type="text" name="name" id="callback-name")
            fieldset.form__fieldset
                label.form__label(for="callback-phone") Ваш телефон*
                input.form__input(type="tel" name="phone" id="callback-phone" data-tel)
            button.form__btn.btn._middle(type="submit" role="button") Отправить
            .form__checkbox
                input(type="checkbox" name="policy" id="callback-policy" data-policy checked)
                label(for="callback-policy")
                    span
                    | Отправляя данные вы соглашаетесь с политикой обработки персональных данных

.modal(id="modal-quiz")
    button.modal__close(type="button" data-fancybox-close)
        svg(width="66" height="66")
            use(xlink:href="img/sprite.svg#modal-close")
    .modal__content
        p.h1.modal__title.heading-font Подберем эхолот
        p.modal__subtitle Заполните свои данные, мы пришлем подборку подходящих эхолотов в ватсап или телеграмм
        form.form(action="#" method="post" role="form")
            input(type="hidden" name="quiz" value="" data-result-quiz)
            fieldset.form__fieldset
                label.form__label(for="quiz-name") Ваше имя*
                input.form__input(type="text" name="name" id="quiz-name")
            fieldset.form__fieldset
                label.form__label(for="quiz-phone") Ваш телефон*
                input.form__input(type="tel" name="phone" id="quiz-phone" data-tel)
            button.form__btn.btn._middle(type="submit" role="button") Отправить
            .form__checkbox
                input(type="checkbox" name="policy" id="quiz-policy" data-policy checked)
                label(for="quiz-policy")
                    span
                    | Отправляя данные вы соглашаетесь с политикой обработки персональных данных

.modal(id="modal-fastorder")
    button.modal__close(type="button" data-fancybox-close)
        svg(width="66" height="66")
            use(xlink:href="img/sprite.svg#modal-close")
    .modal__content
        p.h1.modal__title.heading-font Заказ в один клик
        p.modal__subtitle Заполните свои данные, мы свяжемся с вами в течение 15 минут для уточнения деталей
        form.form(action="#" method="post" role="form")

            article.cart__item(role="article")
                a.cart__picture(href="#" role="link")
                    +picture_lazy('', 'tmp/', 'product-cart', 'png', 109, 126)
                .cart__content
                    h3.cart__title.heading-font(role="heading")
                        a(href="#" role="link") Эхолот <br>ПРАКТИК 6S
                    .cart__price.heading-font 12 990 р
                    .cart__controls
                        .product__count.cart__count(data-product-count)
                            button.product__count-btn(type="button" role="button" data-product-count-minus) -
                            input.product__count-input(type="text" name="count" value="1")
                            button.product__count-btn(type="button" role="button" data-product-count-plus) +
                        button.cart__remove(type="button" role="button") Удалить

            fieldset.form__fieldset
                label.form__label(for="fastorder-name") Ваше имя*
                input.form__input(type="text" name="name" id="fastorder-name")
            fieldset.form__fieldset
                label.form__label(for="fastorder-phone") Ваш телефон*
                input.form__input(type="tel" name="phone" id="fastorder-phone" data-tel)
            button.form__btn.btn._middle(type="submit" role="button") Отправить
            .form__checkbox
                input(type="checkbox" name="policy" id="fastorder-policy" data-policy checked)
                label(for="fastorder-policy")
                    span
                    | Отправляя данные вы соглашаетесь с политикой обработки персональных данных