section.section(class=not_find_stock_classnames)
    .container
        .not-find-stock
            .not-find-stock__content
                h2.section__h2.not-find-stock__title.heading-font(role="heading") Не нашли подходящую акцию?
                p.not-find-stock__subtitle Оставьте почту и мы сообщим о новых акциях
                form.not-find-stock__form.form(action="#" method="")
                    input.form__input(type="email" name="email" placeholder="Почта")
                    button.form__submit.btn._border._middle(type="submit") Подписаться
            .not-find-stock__picture
                img.lazy(src="img/not-find-stock.svg" alt="" width="463" height="410")