extends base

block seo
    - var seo = {title: 'Новость', description: '', keywords: ''}

block main
    main.main(role="main")
        //Новость
        section.section._pt0
            .container
                article.article-page
                    picture.article-page__picture
                        source(type="image/webp" srcset="img/tmp/webp/article@2x.webp 2x, img/tmp/webp/article.webp 1x")
                        img(srcset="img/tmp/article@2x.jpg 2x, img/tmp/article.jpg 1x" alt="" width="1203" height="472")
                    .article-page__content.text-page
                        h1.heading-font._black Как эхолот определяет рыбу?
                        p Самая главная наша миссия — это сэкономить ваше время, которое вы можете направить на решение своих проблем, реализацию новых идей или провести время со своей семьей.
                        p Делегирование — очень важный процесс в бизнесе, так как нельзя угнаться за всем одновременно. В такой погоне легко упустить важное из виду и в моменте может все рухнуть. Не переживайте, делегирование — это не перекладывание вашей ответственности, это передача менее важных дел другим.
                        p Наши услуги подойдут как тем, кто только начинает свой бизнес, так и тем, кто уже давно этим занимается и хочет масштабироваться или оптимизировать свои бизнес-процессы.
                        p Самое главное преимущество сотрудничества с компанией фулфилмента — налаженные организационные процессы и логистика. Вам не нужно думать об этом, мы организуем все сами!
                        a.btn.article-page__btn._middle(href="#") Читать другие статьи
