extends base

block seo
    - var seo = {title: 'Вам понравилось', description: '', keywords: ''}

block main
    main.main(role="main")
        section.section._pt0
            .container
                include includes/_breadcrumbs
                h1.h1.heading-font.catalog__h1(role="heading") Вам понравилось
                .catalog-stock__items
                    +product('product', 'Эхолот ПРАКТИК 6S + 2 подарка')
                    +product('product', 'Эхолот ПРАКТИК 6S + 2 подарка')
                    +product('product', 'Эхолот ПРАКТИК 6S + 2 подарка')
                    +product('product', 'Эхолот ПРАКТИК 6S + 2 подарка')
                    +product('product', 'Эхолот ПРАКТИК 6S + 2 подарка')
                    +product('product', 'Эхолот ПРАКТИК 6S + 2 подарка')
                    +product('product', 'Эхолот ПРАКТИК 6S + 2 подарка')
                    +product('product', 'Эхолот ПРАКТИК 6S + 2 подарка')
                    +product('product', 'Эхолот ПРАКТИК 6S + 2 подарка')
                    +product('product', 'Эхолот ПРАКТИК 6S + 2 подарка')
                    +product('product', 'Эхолот ПРАКТИК 6S + 2 подарка')
                    +product('product', 'Эхолот ПРАКТИК 6S + 2 подарка')