extends base

block seo
    - var seo = {title: 'Политика конфиденциальности', description: '', keywords: ''}

block main
    main.main(role="main")
        section.section._pt0
            .container
                include includes/_breadcrumbs
                .text-page
                    h1.heading-font(role="heading") ПОЛИТИКА КОНФИДЕНЦИАЛЬНОСТИ ООО "ПРАКТИК-НЦ"
                    p Настоящая Политика конфиденциальности персональных данных (далее - Политика конфиденциальности) действует в отношении всей информации, которую Сайт/Приложение может получить о пользователе во время использования Сайта/Приложения.
                    p Использование Сайта/Приложения означает безоговорочное согласие Пользователя с настоящей Политикой и указанными в ней условиями обработки его персональной информации. В случае несогласия с этими условиями Пользователь должен воздержаться от использования Сайта/Приложения.

                    .text-page__block
                        h2.heading-font(role="heading") 1. Определение терминов
                        ul(role="list")
                            li(role="listitem") <strong>1.1.</strong> В настоящей Политике конфиденциальности используются следующие термины:
                                ul(role="list")
                                    li(role="listitem") <strong>1.1.1. «Администрация»</strong> – уполномоченные сотрудники на управление сайтом/Приложением, действующие от имени Общества с ограниченной ответственностью «ПРАКТИК-НЦ», российской компанией, зарегистрированной 22.01.2008 года за основным государственным регистрационным номером 1087746089276 по адресу: 124365, ГОРОД МОСКВА Г. ЗЕЛЕНОГРАД УЛ. ЗАВОДСКАЯ Д. 31 СТР.1, которые организуют и (или) осуществляет обработку персональных данных, а также определяют цели обработки персональных данных, состав персональных данных, подлежащих обработке, действия (операции), совершаемые с персональными данными.
                                    li(role="listitem") <strong>1.1.2. «Персональные данные»</strong> — любая информация, относящаяся к прямо или косвенно определенному или определяемому физическому лицу (субъекту персональных данных).
                                    li(role="listitem") <strong>1.1.3. «Обработка персональных данных»</strong> — любое действие (операция) или совокупность действий (операций), совершаемых с использованием средств автоматизации или без использования таких средств с персональными данными, включая сбор, запись, систематизацию, накопление, хранение, уточнение (обновление, изменение), извлечение, использование, передачу (распространение, предоставление, доступ), обезличивание, блокирование, удаление, уничтожение персональных данных.
                                    li(role="listitem") <strong>1.1.4. «Конфиденциальность персональных данных»</strong> — обязательное для соблюдения Оператором или иным получившим доступ к персональным данным лицом требование не допускать их распространения без согласия субъекта персональных данных или наличия иного законного основания.
                                    li(role="listitem") <strong>1.1.5. «Пользователь (далее - Пользователь)»</strong> – лицо, имеющее доступ к Сайту и/или Приложению посредством сети Интернет, и использующее Сайт и Приложение.
                                    li(role="listitem") <strong>1.1.6. «Приложение»</strong> – Программа для мобильных устройств «Эхолоты Практик 7».
                                    li(role="listitem") <strong>1.1.7. «Сайт»</strong> – Совокупность информации, текстов, графических элементов, дизайна, изображений, фото и видеоматериалов и иных результатов интеллектуальной деятельности, а также программ для ЭВМ, содержащихся в информационной системе, обеспечивающей доступность такой информации на странице в сети Интернет https://rusonar.ru/.
                    .text-page__block
                        h2.heading-font(role="heading") 2. Общие положения
                        ul(role="list")
                            li(role="listitem") <strong>2.1.</strong> Использование Пользователем Сайта и/или Приложения означает безоговорочное согласие с настоящей Политикой конфиденциальности и условиями обработки персональных данных Пользователя.
                            li(role="listitem") <strong>2.2.</strong> В случае несогласия с условиями Политики конфиденциальности Пользователь должен воздержаться от использования Сайта и/или Приложения.
                            li(role="listitem") <strong>2.3.</strong> Настоящая Политика конфиденциальности применяется только к сайту по адресу: https://rusonar.ru/ и к приложениям «Эхолоты Практик 7». ООО «ПРАКТИК-НЦ» не контролирует и не несет ответственность за сайты третьих лиц, на которые Пользователь может перейти по ссылкам, доступным на Сайте/в Приложении.
                            li(role="listitem") <strong>2.4.</strong> Администрация не проверяет достоверность персональных данных, предоставляемых Пользователем.
                            li(role="listitem") <strong>2.5.</strong> Приложение «Эхолоты Практик 7» и сайт по адресу: https://rusonar.ru/ принадлежат ООО «ПРАКТИК-НЦ» и защищены авторским правом и иными исключительными правами на интеллектуальную собственность.
                        p ООО ПРАКТИК-НЦ» предоставляет Пользователю, а Пользователь принимает персональную неисключительную некоммерческую ограниченную (непередаваемую) лицензию без права передачи, сублицензирования. Лицензия может быть полностью аннулирована на мобильном устройстве, которым владеет/управляет Пользователь.

                    .text-page__block
                        h2.heading-font(role="heading") 3. Предмет политики конфиденциальности
                        ul(role="list")
                            li(role="listitem") <strong>3.1.</strong> Настоящая Политика конфиденциальности устанавливает обязательства Администрации по неразглашению и обеспечению режима защиты конфиденциальности персональных данных, которые предоставлены Пользователем.
                            li(role="listitem") <strong>3.2.</strong> Персональные данные, разрешённые к обработке в рамках настоящей Политики конфиденциальности, предоставляются Пользователем путём заполнения полей онлайн-заявки на Сайте/в Приложении в разделе «Контакты» и включают в себя следующую информацию:
                                ul(role="list")
                                    li(role="listitem") <strong>3.2.1.</strong> фамилию, имя, отчество Пользователя;
                                    li(role="listitem") <strong>3.2.2.</strong> контактный телефон Пользователя;
                                    li(role="listitem") <strong>3.2.3.</strong> адрес электронной почты (e-mail).
                            li(role="listitem") <strong>3.3.</strong> Любая иная персональная информация, неоговоренная выше, подлежит надежному хранению и нераспространению, за исключением случаев, предусмотренных в п.п. 5.2. и 5.3. настоящей Политики конфиденциальности.

                    .text-page__block
                        h2.heading-font(role="heading") 4. Цели сбора персональной информации пользователя
                        ul(role="list")
                            li(role="listitem") <strong>4.1.</strong> Персональные данные Пользователя Администрация может использовать в целях:
                                ul(role="list")
                                    li(role="listitem") <strong>4.1.1.</strong> регистрации Субъекта персональных данных в базе данных ООО «ПРАКТИК-НЦ».
                                    li(role="listitem") <strong>4.1.2.</strong> оказания консультационной помощи Субъекту персональных данных при оформлении заявок, заключении гражданско-правовых договоров на приобретение продукции ООО «ПРАКТИК-НЦ».
                                    li(role="listitem") <strong>4.1.3.</strong> эффективного исполнения заказов, договоров и иных обязательств, взятых на себя ООО «ПРАКТИК-НЦ».
                                    li(role="listitem") <strong>4.1.4.</strong> своевременного предоставления услуг Субъекту персональных данных по оказанию технической поддержки и гарантийному ремонту продукции.
                                    li(role="listitem") <strong>4.1.5.</strong> информирования Субъекта персональных данных о выгодных предложениях, проводимых акциях, а также иных предложениях, представляющих интерес для Субъекта персональных данных.
                                    li(role="listitem") <strong>4.1.6.</strong> предоставления доступа Пользователю на сайты или сервисы партнеров ООО «ПРАКТИК-НЦ» с целью получения продуктов, обновлений и услуг.

                    .text-page__block
                        h2.heading-font(role="heading") 5. Условия обработки персональной информации пользователя
                        ul(role="list")
                            li(role="listitem") <strong>5.1.</strong> Сайт/Приложение хранит персональную информацию Пользователя в соответствии с внутренними регламентами конкретных сервисов.
                            li(role="listitem") <strong>5.2.</strong> В отношении персональной информации Пользователя сохраняется ее конфиденциальность, кроме случаев добровольного предоставления Пользователем информации о себе для общего доступа неограниченному кругу лиц.
                            li(role="listitem") <strong>5.3.</strong> Сайт/Приложение вправе передать персональную информацию Пользователя третьим лицам в следующих случаях:
                                ul(role="list")
                                    li(role="listitem") <strong>5.3.1.</strong> Пользователь выразил согласие на такие действия.
                                    li(role="listitem") <strong>5.3.2.</strong> Передача необходима для использования Пользователем определенного сервиса, либо для исполнения определенного соглашения или договора с Пользователем.
                                    li(role="listitem") <strong>5.3.3.</strong> Передача предусмотрена российским или иным применимым законодательством в рамках установленной законодательством процедуры.
                                    li(role="listitem") <strong>5.3.4.</strong> В случае продажи Сайта к приобретателю переходят все обязательства по соблюдению условий настоящей Политики, применительно к полученной им персональной информации.
                            li(role="listitem") <strong>5.4.</strong> Обработка персональных данных Пользователя осуществляется без ограничения срока любым законным способом, в том числе в информационных системах персональных данных с использованием средств автоматизации или без использования таких средств. Обработка персональных данных Пользователей осуществляется в соответствии с Федеральным законом от 27.07.2006 № 152-ФЗ «О персональных данных».
                            li(role="listitem") <strong>5.5.</strong> При утрате или разглашении персональных данных Администрация информирует Пользователя об утрате или разглашении персональных данных.
                            li(role="listitem") <strong>5.6.</strong> Администрация принимает необходимые организационные и технические меры для защиты персональной информации Пользователя от неправомерного или случайного доступа, уничтожения, изменения, блокирования, копирования, распространения, а также от иных неправомерных действий третьих лиц.
                            li(role="listitem") <strong>5.7.</strong> Администрация, совместно с Пользователем, принимает все необходимые меры по предотвращению убытков или иных отрицательных последствий, вызванных утратой или разглашением персональных данных Пользователя.

                    .text-page__block
                        h2.heading-font(role="heading") 6. Обязательства сторон
                        ul(role="list")
                            li(role="listitem") <strong>6.1.</strong> Пользователь обязан:
                                ul(role="list")
                                    li(role="listitem") <strong>6.1.1.</strong> Предоставить информацию о персональных данных, необходимую для пользования Сайтом/Приложением.
                                    li(role="listitem") <strong>6.1.2.</strong> Обновить, дополнить предоставленную информацию о персональных данных в случае изменения данной информации.
                            li(role="listitem") <strong>6.2.</strong> Администрация обязана:
                                ul(role="list")
                                    li(role="listitem") <strong>6.2.1.</strong> Использовать полученную информацию исключительно для целей, указанных в разделе 4 настоящей Политики конфиденциальности.
                                    li(role="listitem") <strong>6.2.2.</strong> Обеспечить хранение конфиденциальной информации в тайне, не разглашать без предварительного письменного разрешения Пользователя, а также не осуществлять продажу, обмен, опубликование, либо разглашение иными возможными способами переданных персональных данных Пользователя, за исключением п.п. 5.2. и 5.3. настоящей Политики Конфиденциальности.
                                    li(role="listitem") <strong>6.2.3.</strong> Принимать меры предосторожности для защиты конфиденциальности персональных данных Пользователя согласно порядку, обычно используемого для защиты такого рода информации в существующем деловом обороте.
                                    li(role="listitem") <strong>6.2.4.</strong> Осуществить блокирование персональных данных, относящихся к соответствующему Пользователю, с момента обращения или запроса Пользователя или его законного представителя, либо уполномоченного органа по защите прав субъектов персональных данных на период проверки, в случае выявления недостоверных персональных данных или неправомерных действий.

                    .text-page__block
                        h2.heading-font(role="heading") 7. Ответственность сторон
                        ul(role="list")
                            li(role="listitem") <strong>7.1.</strong> Администрация, не исполнившая свои обязательства, несет ответственность за убытки, понесенные Пользователем в связи с неправомерным использованием персональных данных, в соответствии с законодательством Российской Федерации.
                            li(role="listitem") <strong>7.2.</strong> В случае утраты или разглашения конфиденциальной информации Администрация не несет ответственности, если данная конфиденциальная информация:
                                ul(role="list")
                                    li(role="listitem") <strong>7.2.1.</strong> Стала публичным достоянием до ее утраты или разглашения.
                                    li(role="listitem") <strong>7.2.2.</strong> Была получена от третьей стороны до момента ее получения Администрацией.
                                    li(role="listitem") <strong>7.2.3.</strong> Была разглашена с согласия Пользователя.

                    .text-page__block
                        h2.heading-font(role="heading") 8. Разрешение споров
                        ul(role="list")
                            li(role="listitem") <strong>8.1.</strong> До обращения в суд с иском по спорам, возникающим из отношений между Пользователем Сайта и Администрацией, обязательным является предъявление претензии (письменного предложения о добровольном урегулировании спора).
                            li(role="listitem") <strong>8.2.</strong> Получатель претензии в течение 10 календарных дней со дня получения претензии письменно уведомляет заявителя претензии о результатах рассмотрения претензии.
                            li(role="listitem") <strong>8.3.</strong> При недостижении соглашения спор будет передан на рассмотрение в суд в соответствии с действующим законодательством Российской Федерации.
                            li(role="listitem") <strong>8.4.</strong> К настоящей Политике конфиденциальности и отношениям между Пользователем и Администрацией применяется действующее законодательство Российской Федерации.

                    .text-page__block
                        h2.heading-font(role="heading") 9. Дополнительные условия
                        ul(role="list")
                            li(role="listitem") <strong>9.1.</strong> Администрация вправе вносить изменения в настоящую Политику конфиденциальности без согласия Пользователя.
                            li(role="listitem") <strong>9.2.</strong> Новая Политика конфиденциальности вступает в силу с момента ее размещения на Сайте, если иное не предусмотрено новой редакцией Политики конфиденциальности.
                            li(role="listitem") <strong>9.3.</strong> Все предложения или вопросы по настоящей Политике конфиденциальности следует сообщать по электронному адресу: <strong>praktik@rusonar.ru</strong>.
                            li(role="listitem") <strong>9.4.</strong> Действующая Политика конфиденциальности размещена на странице по адресу: <strong>https://rusonar.ru/privacy-policy/</strong>.

                    .text-page__block
                        h2.heading-font(role="heading") 10. Контакты
                        p Если у вас возникли вопросы относительно данной политики конфиденциальности, пожалуйста, свяжитесь с нами:
                        p
                            strong ООО «ПРАКТИК-НЦ»<br>ОГРН 1157746735915<br>ИНН 7735146094<br>КПП 773501001
                        p <strong>Юридический адрес:</strong> 124365, Москва, Зеленоград, улица Заводская, дом 31, корпус 1, офис 8.
                        p <strong>Последнее обновление:</strong> утверждена Приказом OOO "Практик-НЦ" №1001-22П от 10 января 2022 года