extends base

block seo
    - var seo = {title: 'Текстовая страница', description: '', keywords: ''}

block main
    main.main(role="main")
        section.section._pt0
            .container
                include includes/_breadcrumbs

                .text-page
                    h1.heading-font._black(role="heading") Как обновить ПО <br>ПРАКТИК 8

                    p Для выбора оплаты товара с помощью банковской карты на соответствующей странице необходимо нажать кнопку «оплата заказа банковской картой». Оплата происходит через ПАО «СБЕРБАНК» с использованием банковских карт следующих платёжных систем:

                include includes/_breadcrumbs

                .text-page
                    h1.heading-font._black(role="heading") Сео текст

                    .text-page__spoiler(data-spoiler-content)
                        p Для выбора оплаты товара с помощью банковской карты на соответствующей странице необходимо нажать кнопку «оплата заказа банковской картой». Оплата происходит через ПАО «СБЕРБАНК» с использованием банковских карт следующих платёжных систем:
                        p Для выбора оплаты товара с помощью банковской карты на соответствующей странице необходимо нажать кнопку «оплата заказа банковской картой». Оплата происходит через ПАО «СБЕРБАНК» с использованием банковских карт следующих платёжных систем:
                        p Для выбора оплаты товара с помощью банковской карты на соответствующей странице необходимо нажать кнопку «оплата заказа банковской картой». Оплата происходит через ПАО «СБЕРБАНК» с использованием банковских карт следующих платёжных систем:

                    button.text-page__btn.btn._border._middle(type="button" role="button" data-spoiler="[data-spoiler-content]") Читать далее