html {
	font-size: 18px;

	@media (max-width: 1199px) {
		font-size: 17px;
	}

	@media (max-width: 991px) {
		font-size: 16px;
	}

	@media (max-width: 767px) {
		font-size: 15px;
	}

	@media (max-width: 575px) {
		font-size: 14px;
	}
}

body {
	background: $color_white;
	font-family: 'IBM Plex Sans', sans-serif;
	color: $color_primary;
	font-weight: normal;
	font-style: normal;
	overflow-x: hidden;
}

body * {
	outline: none;
}

b,
strong {
  font-weight: bold;
}

a,
svg,
button,
span,
::before,
::after {
	transition: $transition;
}

button {
	border-radius: 0;
	-webkit-appearance: none;
	background: none;
	border: 0;
	padding: 0;
	margin: 0;
	cursor: pointer;
	color: inherit;
	font-weight: normal;
}

body input,
body textarea {
	-webkit-appearance: none;
	box-shadow: none;
}