$color_primary: #454747;
$color_primary_light: #595A5A;
$color_black: #000;

$color_white: #fff;
$color_grey: #F0F0F0;
$color_header: #ECECEC;

$color_orange: #FD5C00;
$color_orange_light: #FFE0C2;
$color_orange_info: #FEF1E5;

$color_blue: #3F8AE0;
$color_blue_bg: #95CFFF;
$color_blue_light: #F0F6FD;
$color_blue_card: #CCE9FF;
$color_blue_border: #9ECCFF;
$color_blue_list: #ECF3FC;

$transition: .5s ease;