.category {
	&__items {
		display: grid;
		grid-gap: 20px;
		grid-template-columns: repeat(4, 1fr);
		grid-template-rows: repeat(3, 240px);

		@media (max-width: 991px) {
			grid-template-columns: repeat(2, 1fr);
			grid-template-rows: repeat(6, 180px);
		}

		@media (max-width: 575px) {
			grid-template-rows: repeat(8, 120px);
			grid-template-columns: 1fr;
			grid-gap: 15px;
		}
	}

	&__item {
		background: $color_blue_light;
		border-radius: 10px;
		display: grid;
		overflow: hidden;
		grid-gap: 15px;
		position: relative;

		@media (max-width: 575px) {
			grid-gap: 10px;
			grid-template-columns: 1fr 1fr;
			grid-template-rows: 120px;
		}

		&:hover {
			& .category__title {
				& a {
					color: $color_orange;
				}
			}
		}

		&:not(._big) {
			@media (min-width: 576px) {
				grid-template-rows: calc(100% - 155px) 140px;

				& .category__picture {
					&::before {
						width: 240px;
						height: 240px;
						top: 0;
					}
				}
			}
		}

		&._big {
			@media (min-width: 576px) {
				grid-template-columns: 1fr 1fr;
				grid-column: span 2;

				& .category__picture {
					&::before {
						width: 460px;
						height: 460px;
						left: 0;
						top: calc(50% - 230px);
					}
				}
			}
		}
	}

	&__title {
		font-size: 1.1rem;
		text-transform: uppercase;
		color: $color_blue;
		padding: 25px;
		margin: 0;
		z-index: 2;

		@media (max-width: 1280px) and (min-width: 992px) {
			font-size: .7rem;
		}

		@media (max-width: 991px) {
			padding: 20px;
		}

		@media (max-width: 575px) {
			padding: 15px 0 0 10px;
			font-size: 1rem;
		}

		& a {
			color: inherit;
			text-decoration: none;
		}
	}

	&__picture {
		display: flex;
		align-items: center;
		justify-content: center;
		position: relative;
		z-index: 1;

		&::before {
			content: '';
			position: absolute;
			background: $color_blue_border;
			border-radius: 50%;

			@media (max-width: 575px) {
				width: 218px;
				height: 218px;
				left: 0;
			}
		}

		& img {
			width: auto;
			height: auto;
			max-width: 80%;
			max-height: 80%;
			position: relative;
			z-index: 2;
		}
	}
}